@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,900);

*  {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body {
	font-size: 16px;
	color: #000;
	width: 100%;
	overflow-x: hidden;
}

img {
	vertical-align: initial;
	max-width: 100%;
}

a,
a:hover {
	color: initial;
	outline: initial;
}

ul {
	list-style: none;
}

button {
	background: none;
	border: none;
}

button,
label,
input,
textarea {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
}

section {
	position: relative;
	z-index: 9998;
}

p {
	font-family: "Droid Serif", serif;
	font-size: .9em;
	line-height: 2;
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	color: $color--grey;
	font-size: 2.5em;
    text-transform: uppercase;
}

a,
a:focus {
	outline: none;
	text-decoration: none;
	color: initial;
}

::-webkit-input-placeholder {
	color: #fff;
 	opacity: .9 !important;
}

:-moz-placeholder {
	color: #fff;
 	opacity: .9;
}

::-moz-placeholder {
	color: #fff;
 	opacity: .9;
}

:-ms-input-placeholder {
	color: #fff;
 	opacity: .9;
}

.popinForm {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.8);
	z-index: 999999;
	cursor: pointer;
	display: none;

	.in_popin {
		width: 50vw;
		height: 50vh;
		background: white;
		border-radius: 5px;
		vertical-align: middle;
		text-align: center;
		position: absolute;
		top: 50vh;
		left: 50vw;
		margin-top: -25vh;
		margin-left: -25vw;
		display: table;
		cursor: default;

		.msg {
			display: table-cell;
			vertical-align: middle;
			font-size: 20px;
		}

		.close {
			position: absolute;
			top: 3vh;
			right: 3vw;
			cursor: pointer;
			font-size: 20px;
			transition: color .2s ease-in;

			&:hover {
				text-decoration: none;
				color: $color--blue;
			}
		}
	}
}

@include tablet {
	body {
		font-size: 14px;
	}
	.container, .col-md-4 {
		padding: 0;
	}

	h2, .container p {
		text-align: center;
	}

	.background {
		display: none;
	}
}