@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,900);

*  {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body {
	font-size: 16px;
	color: #000;
	width: 100%;
	overflow-x: hidden;
}

img {
	vertical-align: initial;
	max-width: 100%;
}

a,
a:hover {
	color: initial;
	outline: initial;
}

ul {
	list-style: none;
}

button {
	background: none;
	border: none;
}

button,
label,
input,
textarea {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
}

section {
	position: relative;
}

p {
	font-family: "Droid Serif", serif;
	font-size: .9em;
	line-height: 2;
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	color: $color--grey;
	font-size: 2.5em;
    text-transform: uppercase;
}

a,
a:focus {
	outline: none;
	text-decoration: none;
	color: initial;
}

::-webkit-input-placeholder {
	color: #fff;
 	opacity: .9 !important;
}

:-moz-placeholder {
	color: #fff;
 	opacity: .9;
}

::-moz-placeholder {
	color: #fff;
 	opacity: .9;
}

:-ms-input-placeholder {
	color: #fff;
 	opacity: .9;
}

@include tablet {
	body {
		font-size: 14px;
	}

	.container {
		padding: 0;
	}
}