.membre {
    margin: 0 auto;

    &-illu-wrapper {
    	width: 138px;
		height: 140px;
		margin: 0 auto;
    	position: relative;
		left: 4px;
    	top: 0;
    	cursor: pointer;

    	&:hover {
	    	.membre-illu {
	    		opacity: 0;

	    		&--second {
	    			opacity: 1;
	    		}
	    	}
	    }
    }

	&-illu {
		background-image: url(../img/sprite_equipes.jpg);
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: all .3s ease;

		&--second {
			opacity: 0;
		}
	}

	&-title {
	    padding-top: 15px;
	    font-size: 1.1em;
	    font-weight: 900;
	    line-height: 1;
	    display: block;
	    text-align: center;
	} 

	&-role {
		color: $color--grey-light;
		font-style: italic;
		font-size: .68em;
		text-align: center;
	}

	&-liens {
		margin-top: 10px;
		text-align: center; 
	}

	&-liens-item {
		color: $color--grey-icon;
	    font-size: 1.4em;
	    margin: 0 8px;
		transition: all .1s ease-in;

		&:hover {
			text-decoration: none;
			color: $color--blue-light;
		}
	}
}

.membre--anina {
	float: left;
}


.membre--come {
	.membre-illu {
		background-position: -140px 0;

		&--second {
			background-position: -140px -139px;
		}
	}
}

.membre--ameziane {
	float: right;

	.membre-illu {
		background-position: -280px 0;

		&--second {
			background-position: -280px -139px;
		}
	}
}

.membre--martin {
	.membre-illu {
		background-position: -420px 0;

		&--second {
			background-position: -420px -139px;
		}
	}
}

.membre--douglas {
	.membre-illu {
		background-position: -560px 0;

		&--second {
			background-position: -560px -139px;
		}
	}
}