// --- Nav ---------------------------------------------

.nav {
	display: none;
	padding-top: 10px;
	background-color: $color--header-main;
	text-align: center;

	&.is-opened {
		display: block
	}
	
	&-item {
		display: inline-block;
		margin: 0 10px;
		padding-bottom: 6px;
	}

	&-illu {
		margin-bottom: 5px;
		width: 110px;
		height: 40px;
		display: block
	}
	
	&-name {
		font-size: 0.75em;
	}    

}

@include tablet {
	.nav {
		background-color: transparent;
		padding-bottom: 6px;

		&-item {
			padding-bottom: 0px;
		}

		&-illu {
			margin-bottom: -4px;
		}

		&-name {
			color: #fff;
			font-weight: 700;
			font-size: 0.6875em;
		}
	}
}