// --- Colors ---------------------------------------------

$color--background: #e0e5ec;
$color--header-main: #d9cddf;
$color--main-violet: #630091;
$color--main-violet-hover: #4b0969;
$color--needs: #6d4f7b;
$color--grey: #dfdce0;