.produit {
	&-title {
		margin-top: 100px;
	} 

	&-texte {
		margin-top: 65px;		

		&--italic {
			font-style: italic;
			font-size: 1.2em;
			color: $color--grey-light;
			text-transform: uppercase;
		    font-weight: 900;
		    line-height: 1.6;
		    margin-bottom: 140px;
		}
	}

	&-capsule-illu {
		margin-top: 90px;
		margin-left: 10%;
	}
	
	&-ocean-illu {
		margin-top: -170px;
	}
}

@include tablet {
	.produit {
		&-title {
			margin-top: 20px;
		}

		&-texte {
			margin-top: 30px;
		}

		&-link {
			margin: 30px auto 0;
		}

		&-ocean-illu {
			margin: 40px auto;
			display: block;
		}
	}
}

@media (max-width: 768px) {
	.produit-ocean-illu {
		max-height: 350px;
	}
}